 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-1 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/e51880ea-9f2c-4df5-b552-3f8459c8fd5e.jpg");
  background-position: 50% 50%;
  margin: 60px 231px 0 281px;
}

.u-section-1 .u-group-1 {
  min-height: 508px;
  width: 531px;
  background-image: none;
  margin: -280px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  align-self: center;
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/photo-1418065460487-3e41a6c84dc5.jpg");
  background-position: 50% 50%;
  margin: -471px auto 0 157px;
}

.u-section-1 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: 10px auto 0 86px;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -88px auto 60px 320px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 131px;
    margin-left: 181px;
  }

  .u-section-1 .u-group-1 {
    min-height: 531px;
    width: 489px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -501px;
    margin-left: 73px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 20px;
    margin-left: 60px;
  }

  .u-section-1 .u-shape-2 {
    width: 208px;
    height: 208px;
    margin-top: -34px;
    margin-left: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1726px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 21px;
    margin-left: 71px;
  }

  .u-section-1 .u-group-1 {
    min-height: 501px;
    margin-top: 477px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1158px;
    margin-left: 38px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 38px;
    margin-left: 86px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -35px;
    margin-left: auto;
    margin-bottom: 612px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1638px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1120px;
    margin-left: 18px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -72px;
    margin-right: 131px;
    margin-bottom: 610px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1489px;
  }

  .u-section-1 .u-image-1 {
    width: 310px;
    height: 310px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 572px;
    margin-top: 487px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-2 {
    width: 208px;
    height: 208px;
    margin-top: -1119px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 107px;
    height: 107px;
    margin-top: 30px;
    margin-left: 37px;
  }

  .u-section-1 .u-shape-2 {
    width: 170px;
    height: 170px;
    margin-top: -22px;
    margin-right: 19px;
    margin-bottom: 685px;
  }
}